img, form, div{
    width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    transition: all 1s;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0 5px black;
}

img{
    transform: rotate(30deg);
}

#threeD, #threeD:hover{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    color: black;
    box-shadow: none;
    
    animation: fling 2s infinite alternate;
}

@keyframes fling{
    from{
        text-shadow: 1px 1px 5px black;
    }
    to{
        text-shadow: 0px 0px 0px black;
    }
}

#threeD:hover{
    text-shadow: 0px 0px 0px transparent;
}

form{
    width: 210px;
    line-height: 30px;
}

input{
    border: none;
    height: auto;
    width: auto;
    display: inline-block;
    background-color: transparent;
}

#search{
    height:20px;
    background-color: teal;
    border-radius: 5px;
    box-shadow:2px 2px 5px black;
    color: white;
    margin-bottom: 5px;
}

#rectangular, #rectangular:hover{
    height: 80px;
    background: black;
    border-radius: 10px;
    position: relative;
    line-height: 80px;
}

#rectangular::after{ 
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent ;
    border-right: 0px solid transparent;
    border-left: 20px solid black;
    border-bottom: 10px solid transparent;
} 

#rectangular:hover{
    background-color: crimson;
}

.gray{
    filter: grayscale(1);
}

.gray:hover{
    filter: grayscale(0);
}

.light{
    filter: brightness(0);
}

.light:hover{
    filter: brightness(1);
}

body{
    perspective: 5000px;
}

.cubic{
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: none;
    text-align: center;
    transition: transform 10s;
}

.cubic:hover{
    transform: rotate3d(1, 1, 1, 720deg);
}

.page{
    height: 100px;
    width:100px;
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0.7;
    border-radius: 0;
}

.front{
    transform: translateZ(55px);
}

.back{
    transform: translateZ(-55px);
}

.left{
    transform: rotateY(-90deg) translateZ(55px);
}

.right{
    transform: rotateY(90deg) translateZ(55px);
}

.top{
    transform: rotateX(90deg) translateZ(55px);
}

.bottom{
    transform: rotateX(-90deg) translateZ(55px);
}

.sepia{
    filter: sepia(1);
}

.sepia:hover{
    filter: sepia(0);
}

.blur{
    filter: blur(4px);
}

.blur:hover{
    filter: blur(1px);
}

.contrast{
    filter: contrast(10);
}

.contrast:hover{
    filter: contrast(0);
}

.saturate{
    filter: saturate(2);
}

.saturate:hover{
    filter: saturate(0);
}

.invert{
    filter: invert(1);
}

.invert:hover{
    filter: invert(0);
}

.hue-rotate{
    filter: hue-rotate(90deg);
}

.hue-rotate:hover{
    filter: hue-rotate(0deg);
}